.main-title {
  color: var(--main-color);
}
.galaga-image {
  width: 80px;
  position: absolute;
  &:hover {
    cursor: none;
  }
}
.galaga-bullet {
  position: absolute;
  display: none;
  width: 6px;
  height: 12px;
  background: var(--main-color);
}
.page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  position: relative;
  .main-header {
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 40px;
    .up-text {
    }
    .score-text {
    }
  }
  .page-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    .category-wrap {
      justify-content: space-between;
      position: absolute;
      left: 0;
      top: 18%;
      width: 100%;
      padding: 0 20% 0 20%;
      .category-item {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: animUpDown 1s ease-in-out infinite alternate;
        img {
          &.boss {
            width: 150px;
          }
          width: 80px;
        }
      }
    }
  }
}

@keyframes animUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@media (max-width: 815px) {
  .category-wrap {
    padding: 0 !important;
    justify-content: center !important;
    gap: 10px !important;
  }
}
